h1 {
  font-size: 36px;
  color: #33485e;
  font-family: 'Abril Fatface', cursive;
}

.p {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-family: 'Abril Fatface', cursive;
}

h3 {
  font-family: 'Abril Fatface', cursive;
}

h4 {
  font-family: 'Abril Fatface', cursive;
}

h5 {
  font-family: 'Abril Fatface', cursive;
}

h6 {
  font-family: 'Abril Fatface', cursive;
}

.li {
  font-family: 'Source Sans Pro', sans-serif;
}
