h1 {
  font-size: 36px;
  color: #33485e;
  font-family: 'Abril Fatface', cursive;
}

.p {
  font-family: 'Source Sans Pro', sans-serif;
}

h2 {
  font-family: 'Abril Fatface', cursive;
}

h3 {
  font-family: 'Abril Fatface', cursive;
}

h4 {
  font-family: 'Abril Fatface', cursive;
}

h5 {
  font-family: 'Abril Fatface', cursive;
}

h6 {
  font-family: 'Abril Fatface', cursive;
}

.li {
  font-family: 'Source Sans Pro', sans-serif;
}

#color-palette {
  background-color: white;
  border-style:: 2px solid black;
  padding: 10px;
}

.color {
  height: 150px;
  width: 150px;
  display: inline-block;
}

.color-1 {
  background-color: #FFBBAD;
  height: 150px;
  width: 150px;
  display: inline-block;
}

.color-2 {
  background-color: #FACFC6;
  height: 150px;
  width: 150px;
  display: inline-block;
}

.color-3 {
  background-color: #F8EDEB;
  height: 150px;
  width: 150px;
  display: inline-block;
}

.color-4 {
  background-color: #F8D3B5;
  height: 150px;
  width: 150px;
  display: inline-block;
}

.color-5 {
  background-color: #FEB372;
  height: 150px;
  width: 150px;
  display: inline-block;
}

img {
	max-height: 400px;
  margin-top: 15px;
}

.banner {
  max-height: 400px;
	margin-top: 15px;
  width: 100%
}


@media screen and ( max-width: 100px ) {
img.responsive{ height: 200px; }
}
