ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: black;
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
}

.box {
  background-color: #F8D3B5;
  margin-left: 150px;
  margin-right: 150px;
  text-align: center;
}

.resumeintro {
  text-align: center;
}

.gallery {
  margin: 5px;
  float: left;
  width: 180px;
  height: auto;
}

.gallery img {
  width: 100%;
  height: auto;
}

h2 {
  font-family: 'Abril Fatface', cursive;
  text-align: center;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 24px;
  text-decoration: underline;
}

h4 {
  font-family: 'Abril Fatface', cursive;
}

h5 {
  font-family: 'Abril Fatface', cursive;
}

h6 {
  font-family: 'Abril Fatface', cursive;
}

.headlines {
  float: left;
}

.date {
  float: right;
}

.li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-container ul li {
    padding-right: 6px;
}

.flex-container ul li::after {
    content: ' | ';
    padding-left: 6px;
}

.flex-container ul li:last-of-type:after {
    content: '';
}

.experience {
  text-align: left;
  padding-left: 10px;
  padding-bottom: 2px;
}

#color-palette {
  background-color: white;
  border-style:: 2px solid black;
  padding: 10px;
}

img {
	max-height: 400px;
  margin-top: 15px;
}

.banner {
  max-height: 400px;
	margin-top: 15px;
  width: 100%
}

@media screen and ( max-width: 100px ) {
img.responsive{ height: 200px; }
}

.aboutpic {
  float: left;
  padding: 15px;
}

.abouttext {
  padding: 20px;
}

.skills {
  float:left;
}

.achievements {
  float: right;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #FACFC6;
  color: white;
}

.contentwrapper {
  margin-bottom: 50px;
}

.copyright {
  text-align: left;
  padding-left: 25px;
}

.socials {
  text-align: right;
  padding-right: 25px;
}

.separator {
    height: 4px;
    display: inline-block;
    border-left: 1px solid #999;
    margin: -2px 0px;
    padding-bottom: 10px;
}
